<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>

  <h2>测试表单</h2>
  <form class="" action="/test" method="post">
    {{form}}
    <input type="submit" name="" value="提交">
    {% csrf_token %}
  </form>

</body>
</html>


<div class="row">
    <div class="col-md-12 ">
        <div class="contact-question form-group"><textarea class="form-control form-input" name='content' id="comment-textarea" cols="100%" rows="1" tabindex="3"></textarea></div>
    </div>
</div>
