{% extends 'base.html' %}
{% block content %}


            <div class="section section-padding pricing">
              <div class="container">
                <div class="group-title-index"><h4 class="top-title">选择一个适合你的学习计划</h4>

                    <h2 class="center-title">最好的课程，最低的价格！</h2>

                  </div>
                  <div class="row">
                      <div class="pricing-wrapper">
                          <div class="col-sm-4">
                              <div class="pricing-widget">
                                  <div class="pricing-header">
                                      <div class="price-cost">
                                          <div class="inner"><p data-from="0" data-to="0" data-speed="1000" class="inner-number">0</p></div>
                                      </div>
                                  </div>
                                  <div class="pricing-content"><h3 class="pricing-title">免费会员</h3>

                                      <p class="pricing-subtitle">30 天免费学习</p>
                                      <ul class="pricing-list">
                                          <li><p><strong>1天</strong> 免费</p></li>
                                          <li><p><strong>限制</strong> 课程</p></li>
                                          <li><p><strong>免费</strong> 3个课时</p></li>
                                          <li><p><strong>没有</strong> 服务</p></li>
                                          <li><p><strong>没有</strong> 电子书</p></li>
                                          <li><p><strong>没有</strong> 教程</p></li>
                                          <li><p><strong>限制</strong> 注册用户</p></li>
                                      </ul>
                                      <div class="pricing-button"><a href="#">选择该计划</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="pricing-widget main active">
                                  <div class="pricing-header">
                                      <div class="price-cost">
                                          <div class="inner"><p data-from="0" data-to="35" data-speed="1000" class="inner-number">0</p></div>
                                      </div>
                                  </div>
                                  <div class="pricing-content"><h3 class="pricing-title">年会员</h3>

                                      <p class="pricing-subtitle">1年有效学习时间</p>
                                      <ul class="pricing-list">
                                          <li><p><strong>1年</strong> 有效学习时间</p></li>
                                          <li><p><strong>限制</strong> 课程</p></li>
                                          <li><p><strong>300+</strong> 课时</p></li>
                                          <li><p><strong>随机</strong> 服务</p></li>
                                          <li><p><strong>浏览</strong> 电子书</p></li>
                                          <li><p><strong>标准</strong> 教程</p></li>
                                          <li><p><strong>无限制</strong> 注册用户</p></li>
                                      </ul>
                                      <div class="pricing-button"><a href="#">选择该计划</a></div>
                                  </div>
                              </div>
                          </div>
                          <div class="col-sm-4">
                              <div class="pricing-widget">
                                  <div class="pricing-header">
                                      <div class="price-cost">
                                          <div class="inner"><p data-from="0" data-to="89" data-speed="1000" class="inner-number">0</p></div>
                                      </div>
                                  </div>
                                  <div class="pricing-content"><h3 class="pricing-title">终身会员</h3>

                                      <p class="pricing-subtitle">无时间限制</p>
                                      <ul class="pricing-list">
                                          <li><p><strong>任何时间</strong> 都能访问</p></li>
                                          <li><p><strong>不限制</strong> 课程</p></li>
                                          <li><p><strong>3000+</strong> 课时和更新</p></li>
                                          <li><p><strong>免费</strong> 服务</p></li>
                                          <li><p><strong>免费</strong> 电子书下载</p></li>
                                          <li><p><strong>超级</strong> 教程</p></li>
                                          <li><p><strong>无限制</strong> 注册用户</p></li>
                                      </ul>
                                      <div class="pricing-button"><a href="#">选择该计划</a></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="group-btn-slider">
                      <div class="btn-prev"><i class="fa fa-angle-left"></i></div>
                      <div class="btn-next"><i class="fa fa-angle-right"></i></div>
                  </div>
              </div>
          </div>


{% endblock %}
